<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
		<ion-back-button defaultHref="/home"></ion-back-button>
	</ion-buttons>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngFor="let p of discountList">
  <ion-item>
	<ion-icon name="bulb" slot="start"></ion-icon>
	<ion-label>{{p.title}}</ion-label>
	<ion-button fill="outline" slot="end" (click)="nagivateProdcut(p.$key,p.productcode)">Order</ion-button>
  </ion-item>
  <ion-card-content>
	{{p.title}} is discounted for Rs.{{p.discountprice}}. Please hurry up, limited stock only.
  </ion-card-content>
</ion-card>
</ion-content>
