<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
		<ion-back-button defaultHref="/home"></ion-back-button>
	</ion-buttons>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ng-container *ngIf="discountList.length == 0">
		<p class="no-items">No Offers available</p>
	</ng-container>
<ng-container *ngIf="discountList.length > 0">

<ion-item *ngFor="let p of discountList; let i = index;" (click)="routeStockDetail(p.index,p.productcode)">
  <ion-thumbnail slot="start" style="width: 40%;
    height: 60%;">
	<div class="container">
		<img alt="M" src="{{p.imagepath}}" style="height: 151px;" onerror="this.onerror=null;this.src='https://www.nicepng.com/png/detail/128-1282756_svg-free-download-marlin-clipart-deep-sea-fishing.png';">
		<div class="centered"> &#x20b9; {{p.discountprice}} OFF</div>
	</div>
  </ion-thumbnail>
	<ion-label>
		<ion-card-title>{{p.title}}</ion-card-title>
		<ion-card-subtitle>&#x20b9;{{p.price}}</ion-card-subtitle>
		<ion-card-subtitle class="thrirdlevellabel">{{p.distance}} km | {{p.shopname}}</ion-card-subtitle>
		<ionic5-star-rating #rating
				activeIcon = "star"
				defaultIcon = "star-outline"
				activeColor = "rgb(255 72 72)" 
				defaultColor = "rgb(255 72 72)"
				readonly="true"
				rating="1"
				fontSize = "15px"
				(ratingChanged)="logRatingChange($event)">
			</ionic5-star-rating>
			<ion-card-subtitle class="thrirdlevellabel"><ion-icon name="stopwatch-outline"></ion-icon> 38 mins</ion-card-subtitle>			
	</ion-label>
	
</ion-item>

</ng-container>
</ion-content>
