<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
		<ion-back-button defaultHref="home"></ion-back-button>
	</ion-buttons>
    <ion-title>User Management</ion-title>
	<ion-buttons slot="primary" style="font-size: 25px;margin: 10px;" [routerLink]="['/register']" *ngIf="authService.getUserType() == 'SA'">
        <ion-icon name="add-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card *ngFor="let user of userList">
  <ion-item>
	<ion-avatar slot="start">
		<img src="./assets/avatar/avatar.png">
	 </ion-avatar>
	<ion-label>{{user.firstname}} {{user.lastname}}</ion-label>
  </ion-item>

  <ion-card-content>
	<ion-label><b>Mobile </b>{{user.mobilenumber}}</ion-label><br/>
	<ion-label>
	{{user.street1}} 
	{{user.street2}} 
	{{user.district}} 
	{{user.state}} 
	{{user.pincode}}
	</ion-label>
  </ion-card-content>
</ion-card>
</ion-content>
