.no-items {
	text-align: center;
	font-size : 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.line {
	border : 1px;
} 

#rating {
	margin-left: 15px !important;
}