<ion-header style="z-index : 0;">
  <ion-toolbar>
	
	<ion-buttons style="font-size: 25px;margin: 10px;" slot="start" [routerLink]="['/home']">
		<ion-icon name="arrow-back-outline"></ion-icon>
	</ion-buttons>
    <ion-title>Your Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ng-container *ngFor="let p of orderList;">
	<ion-item [routerLink]="['/orderdetails/'+p.index]">
	  <ion-card-header>
		  <ion-card-title>Order reference - {{p.orderref}}</ion-card-title>
		  <ion-card-subtitle>{{p.modifieddate |  date:'MM/dd/yyyy h:mm:ss a'}}</ion-card-subtitle>
		  <ion-card-subtitle>&#x20b9;{{p.totalamount}}</ion-card-subtitle>
	  </ion-card-header>
	</ion-item>
	<ion-item>
		<ion-grid>
			<ion-row>
				<ion-col>
					<ng-container>
						<ion-icon name="{{p.statusicon}}"></ion-icon>
						<ion-label style="color:{{p.statuscolor}}">{{p.statusname}}</ion-label>			
					</ng-container>
				</ion-col>
				<ion-col style="text-align:right;">
					<ion-buttons [routerLink]="['/trackmyorder/'+p.index+'/'+p.statusindex]" *ngIf="(authService.getUserType() == 'C' && p.currentstatus != 'DE' && p.currentstatus != 'CL')">
						<ion-button color="primary">
							Track my Order
						</ion-button>
					</ion-buttons>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-item>
</ng-container>

		
<ng-container *ngIf="orderList.length == 0">
	<p class="no-items">No items available</p>
</ng-container>
</ion-content>
