<ion-header translucent>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button defaultHref="/home"></ion-back-button>
	</ion-buttons>
    <ion-title>Billing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card-header>
	<ion-card-title class="heading">We would like to serve you if you need?</ion-card-title>
</ion-card-header>
<ion-item>
<ion-label>Do you need masala?</ion-label>
<ion-checkbox color="danger" slot="start" (ionChange)="checkboxClick($event)"></ion-checkbox>
</ion-item>
<ion-item *ngIf="showMasala">
<ion-label>Masala Quantity</ion-label>
<ion-button (click)="removeMasalaQuantity()">-</ion-button>
<ion-button color="light">{{masalaquantity}}</ion-button>
<ion-button (click)="addMasalaQuantity()">+</ion-button>
</ion-item>
<ion-item *ngIf="showMasala">
<ion-label>Total</ion-label>
<ion-card-subtitle style="color:#eb445a;">&#x20b9; {{masalaquantity * masalacharge}}</ion-card-subtitle>  
</ion-item>
<ion-card-header>
	<ion-card-title class="heading">Bill details</ion-card-title>
</ion-card-header>
<ng-container *ngIf="cartList.length > 0">
<ng-container *ngFor="let p of cartList;let i = index;">
<ion-item (click)="openItemDetails(i)">
	<ion-card-header>
		  <ion-card-title class="title">{{p.title}}</ion-card-title>
		  <ion-card-title class="titlelink" style="color:#3880ff">customize ></ion-card-title>
	</ion-card-header>
</ion-item>
<ion-item-divider>
<ion-grid>
  <ion-row>
		  <ion-col>
			 <ion-card-subtitle>{{p.quantity}} kg x {{p.price}}</ion-card-subtitle>
		  </ion-col>
		  <ion-col style="text-align:right;">
			 <ion-card-subtitle>&#x20b9; {{p.quantity * p.price}}</ion-card-subtitle>
		  </ion-col>
	</ion-row>
	<ion-row>
		  <ion-col>
			 <ion-card-subtitle>Discount</ion-card-subtitle>
		  </ion-col>
		  <ion-col style="text-align:right;">
			 <ion-card-subtitle>&#x20b9; {{p.quantity * p.discount}}</ion-card-subtitle>
		  </ion-col>
	</ion-row>
	<ion-row>
		  <ion-col>
			 <ion-card-subtitle>Total</ion-card-subtitle>
		  </ion-col>
		  <ion-col style="text-align:right;">
			 <ion-card-subtitle style="color:#eb445a;">&#x20b9; {{p.quantity * p.price - p.quantity * p.discount + ((p.masala == 'Y' && p.masalaquantity) ? (p.masalaquantity * masalacharge):0)}}</ion-card-subtitle>
		  </ion-col>
	</ion-row>
</ion-grid>
</ion-item-divider>
</ng-container>
<ng-container *ngIf="authService.getIsUserLoggedIn()">
<ion-item (click)="selectAddress()">
	<ion-note slot="start">Delivering to</ion-note>
	<ion-label *ngIf="!dmobile">No Address Selected</ion-label>
	<ion-label *ngIf="dmobile">Click to change address</ion-label>
</ion-item>
<ion-card *ngIf="dmobile">
  <ion-card-header>
	<ion-card-subtitle>{{dname}}</ion-card-subtitle>
	<ion-card-title>{{dmobile}}</ion-card-title>
	<ion-card-content>
		{{dhouseno}}
		{{dstreetname}}
		{{dlandmark}}
		<ion-buttons (click)="goToClientLocation()" *ngIf="(authService.getUserType() == 'D') && (oldStatus == 'IPD' || oldStatus == 'DS') && (sellerlatitude || latitude)">
			<ion-button color="primary">
			<ng-container *ngIf="(oldStatus == 'DS')">Click to go to Seller Location</ng-container>
			<ng-container *ngIf="(oldStatus == 'IPD')"> Click to go to Customer Location</ng-container>
			</ion-button>
		</ion-buttons>
	  </ion-card-content>
  </ion-card-header>
  
</ion-card>
</ng-container>
</ng-container>
<ng-container *ngIf="cartList.length == 0">
	<ion-row *ngFor="let i of Arr(skeletoncount).fill(1)">
		<ion-col>
			<ion-card>
				<ion-skeleton-text animated></ion-skeleton-text>
				<ion-card-header>
				  <ion-card-subtitle><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-subtitle>
				  <ion-card-title><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-title>
				  
				</ion-card-header>
				<italic style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
				  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
				</italic>
				
				<ion-card-header>
				  <ion-card-subtitle><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-subtitle>
				  <ion-card-subtitle><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-subtitle>
				</ion-card-header>
			</ion-card>
		</ion-col>
	</ion-row>
</ng-container>

</ion-content>
<ion-footer class="ion-no-border" *ngIf="cartList.length > 0">
  <ion-toolbar>
	<ion-row>
	  <ion-col>
		 <ion-card-subtitle>Your Bill Amount</ion-card-subtitle>
	  </ion-col>
	  <ion-col style="text-align:right;">
		 {{totalAmount}}
	  </ion-col>
	</ion-row>
    <ion-row>
	  <ion-col style="text-align:center;">
		 <ion-button expand="block" color="danger" [disabled]="!dindex" (click)="confirmOrder()">Confirm Order</ion-button>
	  </ion-col>
	</ion-row>
  </ion-toolbar>
</ion-footer>
