<ion-header translucent>
  <ion-toolbar>
	<ion-buttons slot="start" *ngIf="!pagemode">
		<ion-back-button defaultHref="/"></ion-back-button>
	</ion-buttons>
	<ion-buttons style="font-size: 25px;margin: 10px;" slot="start" *ngIf="pagemode && pagemode == 'M'" (click)="modalController.dismiss()">
		<ion-icon name="arrow-back-outline"></ion-icon>
	</ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-row>
      <ion-col>
         <div class="vertical-center">
            <div class="center">
               <img src="assets/logo/logo.png"/>
            </div>
         </div>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
         <ion-item lines="none" style="text-align:center;" class="font-size-25px">
            <ion-label>Delight with your <b>Login</b></ion-label>
         </ion-item>
      </ion-col>
   </ion-row>
   <form [formGroup]="formData" (ngSubmit)="login(form)" novalidate id="registerFrom">
	 <ion-item>
		<ion-label position="floating">Email</ion-label>
		<ion-input formControlName="email" type="email" required></ion-input>
	 </ion-item>
	 <ion-item>
		<ion-label position="floating">Password</ion-label>
		<ion-input formControlName="password" type="password" required></ion-input>
	 </ion-item>
	 <ion-button type="submit" expand="block">Delight me in.</ion-button>
   </form>   
   
   <ion-row style="text-align:center;">
   <ion-col style="text-align:center;">
	  <ion-label>
         Don't have an account?.
      </ion-label><br><br>
	  <ion-label [routerLink]="['/register']">
          <b>Click here to Sign up now.</b>
      </ion-label>
	  </ion-col>
   </ion-row>
   <div *ngIf="isSubmitted && errorControl.email.errors?.required"
		class="validator-error">
	  Enter your Email.
	</div>
	<div *ngIf="isSubmitted && errorControl.email.errors?.pattern"
		class="validator-error">
	  Please enter a valid Email.
	</div>
	<div *ngIf="isSubmitted && errorControl.password.errors?.required"
		class="validator-error">
	  Enter your Password for security.
	</div>
	<div *ngIf="isSubmitted && errorControl.password.errors?.minlength"
		class="validator-error">
	  Password length should be minimun 8 Character.
	</div>
   
</ion-content>
