<ion-content>

<ion-card>
	<ion-card-header>
	  <ion-card-title>{{title}}</ion-card-title>
	  </ion-card-header>
	<ion-card-content>
	  {{details}}
	</ion-card-content>
  </ion-card>
<ion-card-header>
	<ion-card-title class="heading">What are you going to do with?</ion-card-title>
</ion-card-header>
  <ion-item *ngFor="let p of fishpiecetype">
	<ion-label>{{p.name}}</ion-label>
	<ion-checkbox color="danger" slot="start" [(ngModel)]="p.checked" (ionChange)="checkboxClick($event)"></ion-checkbox>
  </ion-item>
  <ion-item>
	  <ion-label position="floating">What would you like us to do?</ion-label>
	  <ion-textarea [(ngModel)]="desc"></ion-textarea>
	</ion-item>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
	  <ion-col style="text-align:center;">
		 <ion-button expand="block" color="danger" (click)="updateItem()">Update Order</ion-button>
	  </ion-col>
	</ion-row>
  </ion-toolbar>
</ion-footer>