<ion-header>
  <ion-toolbar style="--border-style: none">
	<ion-buttons slot="start">
		<ion-back-button defaultHref="home"></ion-back-button>
	</ion-buttons>
    <ion-title>My Assignments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ng-container *ngFor="let p of cartList">
	<ion-item [routerLink]="['/orderdetails/'+p.index]">
	  <ion-card-header>
		  <ion-card-title>Order reference - {{p.orderref}}</ion-card-title>
		  <ion-card-subtitle>{{p.modifieddate |  date:'MM/dd/yyyy h:mm:ss a'}}</ion-card-subtitle>
		  <ion-card-subtitle>&#x20b9;{{p.totalamount}}</ion-card-subtitle>
	  </ion-card-header>
	</ion-item>
	<ion-item>
		<ng-container *ngFor="let g of statusList">
			<ng-container *ngIf="p.currentstatus == g.code">
				<ion-icon name="{{g.icon}}"></ion-icon>
				<ion-label style="color:{{g.color}}">{{g.name}}</ion-label>			
			</ng-container>
		</ng-container>
	</ion-item>
</ng-container>

<ng-container *ngIf="cartList.length == 0">
	<p class="no-items">No Assignments available</p>
</ng-container>
</ion-content>
