<ion-header translucent>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button defaultHref="/home"></ion-back-button>
	</ion-buttons>
    <ion-title>My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ng-container *ngIf="cartList.length > 0">
<ion-item-sliding *ngFor="let p of cartList;">
	<ion-item (click)="routeStockDetail(p.index,p.productcode,p.currentstatus)">
	  <ion-thumbnail slot="start">
		<img alt="M" src="{{p.imagepath}}" onerror="this.onerror=null;this.src='https://www.nicepng.com/png/detail/128-1282756_svg-free-download-marlin-clipart-deep-sea-fishing.png';">
	  </ion-thumbnail>
			<ion-card-header>
				  <ion-card-title>{{p.title}}</ion-card-title>
				  <ion-card-subtitle style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{p.details}}</ion-card-subtitle>
				  <ion-card-subtitle>Ordered on {{p.modifieddate}}</ion-card-subtitle>
				  <ion-card-subtitle>Quantity: {{p.quantity}} kg</ion-card-subtitle>
			</ion-card-header>
		<ion-thumbnail slot="end">
			<h3>&#x20b9;{{p.price}}</h3>
			<ion-badge color="dark">
				<ng-container *ngIf="p.currentstatus == 'ORD'">
					Ordered
				  </ng-container>
				  <ng-container *ngIf="p.currentstatus == 'INP'">
					In-Progress
				  </ng-container>
				  <ng-container *ngIf="p.currentstatus == 'DE'">
					Delievered
				  </ng-container>
			</ion-badge>
	    </ion-thumbnail>
	</ion-item>
	<ion-item-options>
      <ion-item-option color="danger" (click)="deleteThisItem(p.index)">
        <ion-icon slot="start" name="trash"></ion-icon>
        Delete
      </ion-item-option>
    </ion-item-options>
</ion-item-sliding>


</ng-container>
<ng-container *ngIf="cartList.length == 0 && !shownoitems">
	<ion-row *ngFor="let i of Arr(skeletoncount).fill(1)">
		<ion-col>
			<ion-card>
				<ion-skeleton-text animated></ion-skeleton-text>
				<ion-card-header>
				  <ion-card-subtitle><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-subtitle>
				  <ion-card-title><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-title>
				  
				</ion-card-header>
				<italic style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
				  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
				</italic>
				
				<ion-card-header>
				  <ion-card-subtitle><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-subtitle>
				  <ion-card-subtitle><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-subtitle>
				</ion-card-header>
			</ion-card>
		</ion-col>
	</ion-row>
	
</ng-container>
<ng-container *ngIf="cartList.length == 0 && shownoitems">
		<p class="no-items">No address available</p>
	</ng-container>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="cartList.length > 0">
  <ion-toolbar>
    <ion-row>
	  <ion-col style="text-align:center;" [routerLink]="['/billingdetails']">
		 <ion-button expand="block" color="danger">Order Review</ion-button>
	  </ion-col>
	</ion-row>
  </ion-toolbar>
</ion-footer>