<ion-header translucent>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button defaultHref="/home"></ion-back-button>
	</ion-buttons>
    <ion-title>My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ng-container *ngIf="cartList.length > 0">
<ion-card-header>
	<ion-card-title class="heading">Seller details</ion-card-title>
</ion-card-header>
<ion-card>
  <ion-card-header>
    <ion-card-title>{{sellershopname}}</ion-card-title>
	<ion-card-subtitle>{{distance}} km</ion-card-subtitle>
	<ion-card-subtitle>
  <ionic5-star-rating #rating
		activeIcon = "star"
		defaultIcon = "star-outline"
		activeColor = "rgb(255 72 72)" 
		defaultColor = "rgb(255 72 72)"
		readonly="true"
		rating="{{sellerrating}}"
		fontSize = "15px"
		(ratingChanged)="logRatingChange($event)">
	</ionic5-star-rating> {{sellerrating != 0 ? sellerrating: 'No Reviews yet'}}</ion-card-subtitle>
  </ion-card-header>
</ion-card>
<ion-card-header>
	<ion-card-title class="heading">Your items are...</ion-card-title>
</ion-card-header>
	<ion-item *ngFor="let p of cartList; let i = index;">
	  <ion-thumbnail slot="start" style="width: 40%;
    height: 60%;">
		<img alt="M" src="{{p.imagepath}}" onerror="this.onerror=null;this.src='https://www.nicepng.com/png/detail/128-1282756_svg-free-download-marlin-clipart-deep-sea-fishing.png';">
	  </ion-thumbnail>
	<ion-card-header>
		  <ion-card-title (click)="routeStockDetail(p.index,p.productcode,p.currentstatus)">{{p.title}}</ion-card-title>
		  <ion-card-subtitle class="subtitleThin">&#x20b9;{{p.price}}</ion-card-subtitle>
		  <ion-button (click)="decrement(i, p.index)">-</ion-button>
		<ion-button color="light">{{p.quantity ? p.quantity : 0}}</ion-button>
		<ion-button (click)="increment(i, p.index)">+</ion-button>
	</ion-card-header>
	</ion-item>
	


</ng-container>
<ng-container *ngIf="cartList.length == 0 && !shownoitems">
	<ion-row *ngFor="let i of Arr(skeletoncount).fill(1)">
		<ion-col>
			<ion-card>
				<ion-skeleton-text animated></ion-skeleton-text>
				<ion-card-header>
				  <ion-card-subtitle><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-subtitle>
				  <ion-card-title><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-title>
				  
				</ion-card-header>
				<italic style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
				  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
				</italic>
				
				<ion-card-header>
				  <ion-card-subtitle><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-subtitle>
				  <ion-card-subtitle><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-subtitle>
				</ion-card-header>
			</ion-card>
		</ion-col>
	</ion-row>
	
</ng-container>
<ng-container *ngIf="cartList.length == 0 && shownoitems">
		<p class="no-items">No address available</p>
	</ng-container>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="cartList.length > 0">
  <ion-toolbar>
    <ion-row>
	  <ion-col style="text-align:center;" [routerLink]="['/billingdetails']">
		 <ion-button expand="block" color="danger">Order Review</ion-button>
	  </ion-col>
	</ion-row>
  </ion-toolbar>
</ion-footer>