@font-face {
   font-family: 'Roboto Light';
   src: url('../assets/fonts/roboto.light.ttf');
   font-weight: normal;
   font-style: normal;
 }

@font-face {
   font-family: 'Roboto Italic';
   src: url('../assets/fonts/roboto.italic.ttf');
   font-weight: normal;
   font-style: normal;
 }
 
@font-face {
   font-family: 'Roboto Thin';
   src: url('../assets/fonts/roboto.thin.ttf');
   font-weight: normal;
   font-style: normal;
 }
 
@font-face {
   font-family: 'Roboto Light Italic';
   src: url('../assets/fonts/roboto.light-italic.ttf');
   font-weight: normal;
   font-style: normal;
 }
 
@font-face {
   font-family: 'Roboto Regular';
   src: url('../assets/fonts/roboto.regular.ttf');
   font-weight: normal;
   font-style: normal;
 }