<ion-header>
  <ion-toolbar>
    <ion-title>Address Book</ion-title>
	<ion-buttons slot="end">
	<ion-button (click)="dismissModal()">Close</ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ng-container *ngIf="addressList.length > 0">
<ion-list *ngFor="let p of addressList;" (click)="selectAddress(p)">
  <ion-item>
	<ion-card-header>
		  <ion-card-title>{{p.name}}</ion-card-title>
		  <ion-card-subtitle>{{p.mobile}}</ion-card-subtitle>
		  <ion-card-subtitle>{{p.houseno}}, {{p.streetname}}, {{p.landmark}}</ion-card-subtitle>
	</ion-card-header>
    </ion-item>
</ion-list>
</ng-container>
<ng-container *ngIf="addressList.length == 0">
	<p class="no-items">No address available</p>
</ng-container>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-button expand="block" (click)="addAddress()">Add Address</ion-button>
	</ion-toolbar>
</ion-footer>