<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
		<ion-back-button defaultHref="/"></ion-back-button>
	</ion-buttons>
    <ion-title>{{isAdmin ? 'Stock' : 'Products'}}</ion-title>
	<ion-buttons slot="primary" style="font-size: 25px;margin: 10px;" (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ng-container *ngIf="searchInput != null">
<ion-searchbar #search animated showCancelButton="always" debounce="500" (ionCancel)="onCancel($event)" cancelButtonText="Custom Cancel"
    (ionInput)="filterList($event)" [value]="searchVal" autofocus="true"></ion-searchbar>
</ng-container>

<ng-container *ngIf="stockList.length > 0">
	<ion-row>
		<ion-col>
			<ion-card *ngFor="let p of stockList; let i = index;" (click)="routeProductDetail(p.index)">
				<img alt="M" class="center" src="{{p.imagepath}}" onerror="this.onerror=null;this.src='https://www.nicepng.com/png/detail/128-1282756_svg-free-download-marlin-clipart-deep-sea-fishing.png';">
				<ion-card-header>
				  <ion-card-subtitle>{{p.title}}</ion-card-subtitle>
				  <ion-card-title>&#x20b9; {{p.price}}</ion-card-title>
				</ion-card-header>
				<ion-card-content style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
				  {{p.details}}
				</ion-card-content>
				<ion-card-header>
				  <ion-card-subtitle>Product available Within <b>{{p.distance}}</b> km</ion-card-subtitle>
				</ion-card-header>
			</ion-card>
		</ion-col>
	</ion-row>
</ng-container>
<ng-container *ngIf="stockList.length == 0">
	<p class="no-items">No Products available in your area.</p>
</ng-container>
</ion-content>
