<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons style="font-size: 25px;margin: 10px;" slot="start" (click)="close()">
		<ion-icon name="arrow-back-outline"></ion-icon>
	</ion-buttons>
    <ion-title>Contact Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<form [formGroup]="addressData" id="addressData" (ngSubmit)="confirmMyLocation()" novalidate>

	<ion-item (click)="openMapSelection()">
	  <ion-icon slot="start" name="navigate-circle-outline"></ion-icon>
	  <ion-card-subtitle>Select Delivery Location</ion-card-subtitle>
	</ion-item>
	<ion-item *ngIf="location">
		<ion-note slot="start">Delivering to</ion-note>
	</ion-item>
	<ion-card *ngIf="location">
		<ion-card-content>
			<ion-textarea style="font-weight:bold;" formControlName="location" [(ngModel)]="location" disabled="true"></ion-textarea>
		  </ion-card-content>
	</ion-card>
	<div *ngIf="isSubmitted && errorAddressControl.location.errors?.required"
		class="validator-error">
		Please select the delivery address.
	</div>
	<ion-item>
	  <ion-input type="text" formControlName="name" placeholder="Customer Name" [(ngModel)]="name" required></ion-input>
	</ion-item>
	<div *ngIf="isSubmitted && errorAddressControl.name.errors?.required"
		class="validator-error">
	  Enter Customer name.
	</div>
	<ion-item>
	  <ion-input type="number" formControlName="mobile" minlength="10" maxlength="10" placeholder="Contact Number" [(ngModel)]="mobile" required></ion-input>
	</ion-item>
	<div *ngIf="isSubmitted && errorAddressControl.mobile.errors?.required"
	class="validator-error">
	  <ion-icon name="alert-circle-outline"></ion-icon>  Mobilenumber is required.
	</div>
	<div *ngIf="isSubmitted && errorAddressControl.mobile.errors?.maxlength"
	class="validator-error">
	  <ion-icon name="alert-circle-outline"></ion-icon>  Mobilenumber is invalid.
	</div>
	<div *ngIf="isSubmitted && errorAddressControl.mobile.errors?.minlength"
	class="validator-error">
	  <ion-icon name="alert-circle-outline"></ion-icon>  Mobilenumber is invalid.
	</div>
	<div *ngIf="isSubmitted && errorAddressControl.mobile.errors?.pattern"
	class="validator-error">
	  <ion-icon name="alert-circle-outline"></ion-icon>  Mobilenumber is allowed only numbers.
	</div>
	<ion-item>
	  <ion-input type="text" formControlName="houseno" placeholder="House/Door No" [(ngModel)]="houseno" required></ion-input>
	</ion-item>
	<div *ngIf="isSubmitted && errorAddressControl.houseno.errors?.required"
		class="validator-error">
	  Enter House No/Door No of the customer.
	</div>
	<ion-item>
	  <ion-input type="text" formControlName="streetname" placeholder="Street name" [(ngModel)]="streetname" required></ion-input>
	</ion-item>
	<div *ngIf="isSubmitted && errorAddressControl.streetname.errors?.required"
		class="validator-error">
	  Enter Street name.
	</div>
	<ion-item>
	  <ion-input type="text" formControlName="landmark" placeholder="Landmark" [(ngModel)]="landmark" required></ion-input>
	</ion-item>
	<div *ngIf="isSubmitted && errorAddressControl.landmark.errors?.required"
		class="validator-error">
	  Enter Landmark of the address.
	</div>
	<ion-toolbar>
		<ion-button expand="block" type="submit">Confirm my Address</ion-button>
	</ion-toolbar>
</form>
</ion-content>