
<div>	
<ion-header [translucent]="true" >
  <ion-toolbar [@visibilityChanged]="visibility" style="display: block;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!locationService.getCurrentLocation()">
		<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
	</ion-title>
	<ion-title *ngIf="locationService.getCurrentLocation()" (click)="openMapSelection()">
		{{locationService.getCurrentLocation() == "" ? 'No address found' : locationService.getCurrentLocation()}}
		<p class="subtitle">Click to change address</p>
	</ion-title>
	
	<ion-buttons  matBadge="{{notificationcount}}" matBadgePosition="after" matBadgeColor="primary" *ngIf="authService.getIsUserLoggedIn() && authService.getUserType() == 'C'" slot="secondary" style="font-size: 25px;margin: 10px;" [routerLink]="['/notification']">
        <ion-icon name="notifications-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  	<ion-searchbar *ngIf="authService.getUserType() != 'D'" animated showCancelButton="always" debounce="500" (ionCancel)="onCancel($event)" cancelButtonText="Custom Cancel"
		(ionInput)="filterProductList($event)" (ionFocus)="hideContent()"  [value]="searchVal" autofocus="true"></ion-searchbar>

</ion-header>
</div>
<ion-content>
	<div class="spin" *ngIf="spinnerShow">
		<ion-spinner name="lines"></ion-spinner>
	</div>
<ng-container *ngIf="!authService.getIsUserLoggedIn() || authService.getUserType() == 'A' || authService.getUserType() == 'SA'  || authService.getUserType() == 'C'">
<div [@visibilityChanged]="visibility" style="display: block;">
<ion-card style="box-shadow: none;" *ngIf="instBanner.length == 0">
	  <ion-card-header>
		<ion-card-subtitle><ion-skeleton-text animated style="width: 100%;height:150px;"></ion-skeleton-text></ion-card-subtitle>
	  </ion-card-header>
	</ion-card>
<ion-slides [options]="slideOptsTwo" *ngIf="instBanner.length > 0">
		<ion-slide *ngFor="let p of instBanner">
			<ion-card style="border-radius: 12px;background-color: {{p.bgcolor}};border: 2px solid;border-color: {{p.color}};">
			  <ion-card-header>
				<ion-card-title>{{p.title}}</ion-card-title>
				<ion-row>
					<ion-col size="10">
						<ion-card-content style="padding: inherit;">{{p.desc}}</ion-card-content>
					</ion-col>
					<ion-col style="margin:auto;text-align:end;font-size:30px">
						<ion-icon name="{{p.icon}}"></ion-icon>
					</ion-col>
				</ion-row>
			  </ion-card-header>
			</ion-card>
		</ion-slide>
  </ion-slides> 	
<ng-container>
	
	<ion-card-header>
	<ion-card-title class="heading">Browse by Category</ion-card-title>
	</ion-card-header>
	<ion-card style="box-shadow: none;" *ngIf="fishcategortList.length == 0">
		  <ion-card-header>
			<ion-card-subtitle><ion-skeleton-text animated style="width: 100%;height:150px;"></ion-skeleton-text></ion-card-subtitle>
		  </ion-card-header>
		</ion-card>
	 <ion-slides [options]="slideOptsOne" *ngIf="fishcategortList.length > 0">
	   <ion-slide *ngFor="let p of fishcategortList;" style="margin: auto;height:150px;width:100%;">
		   <ion-item [routerLink]="['/stock/'+p.code]">
			   <ion-thumbnail>
					<img src="{{p.imagepath}}" onerror="this.onerror=null;this.src='https://www.nicepng.com/png/detail/128-1282756_svg-free-download-marlin-clipart-deep-sea-fishing.png';">
			  </ion-thumbnail>
			  <ion-label>
				<ion-card-subtitle>{{p.name}}</ion-card-subtitle>
				<ion-card-subtitle class="sub-icon"><ion-icon name="return-down-forward-outline"></ion-icon></ion-card-subtitle>
			  </ion-label>
		   </ion-item>
		</ion-slide>
	  </ion-slides>
	  <!-- <ion-row style="text-align:center;" *ngIf="fishcategortList.length > 0">
		<ion-col>
		  <ion-item>
			<ion-button fill="outline" [routerLink]="['/stock/0']">View All</ion-button>
		  </ion-item>
		</ion-col>
	 </ion-row> -->
	  
	<!-- <ion-row class="second-menu">
		<ng-container *ngFor="let p of fishcategortList;">
			<ion-col [routerLink]="['/stock/'+p.code]">
			<img style="margin: auto;width: 60%;" src="{{p.imagepath}}"><br>
			  {{p.name}}
			</ion-col>
		</ng-container>
	</ion-row> -->
	<ion-card-header>
		<ion-card-title class="heading">Available Offers</ion-card-title>
	</ion-card-header>
	  <ion-card style="box-shadow: none;" *ngIf="discountList.length == 0">
		  <ion-card-header>
			<ion-card-subtitle><ion-skeleton-text animated style="width: 100%;height:150px;"></ion-skeleton-text></ion-card-subtitle>
		  </ion-card-header>
		</ion-card>
	  <ion-slides [options]="slideOptsThree" #mySlider *ngIf="discountList.length > 0">
		
		<ion-slide *ngFor="let p of discountList;" (click)="nagivateProdcut('D',p.productcode)">
		<ion-grid>
			<ion-row>
				<ion-col>
					<img src="{{p.imagepath}}" style="height: 150px;" onerror="this.onerror=null;this.src='https://www.nicepng.com/png/detail/128-1282756_svg-free-download-marlin-clipart-deep-sea-fishing.png';">
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-card-title>{{p.title}}</ion-card-title>
					<ion-card-subtitle>Max <ion-label class="off">&#x20b9;{{p.price}}</ion-label> offer</ion-card-subtitle>
				</ion-col>
			</ion-row>
		</ion-grid>
		</ion-slide>
	  </ion-slides>
</ng-container>
	<ion-card style="box-shadow: none;" *ngIf="instBanner.length == 0">
	  <ion-card-header>
		<ion-card-subtitle><ion-skeleton-text animated style="width: 100%;height:100px;"></ion-skeleton-text></ion-card-subtitle>
	  </ion-card-header>
	</ion-card>	 
  <ion-card-header>
		<ion-card-title class="heading">Delivery Policy</ion-card-title>
	</ion-card-header>	
  <ion-card style="background: beige;">
	  <ion-item>
		<ion-card-title>Disclaimer</ion-card-title>
	  </ion-item>

	  <ion-card-content>
		All delieveries are exclusive delievery charges. Please view the privacy policy of delivery charges.
	  </ion-card-content>
	</ion-card> 

<ion-card-header>
		<ion-card-title class="heading">Shops Nearby</ion-card-title>
		<ion-card-subtitle>Explore the best items you need</ion-card-subtitle>
	</ion-card-header>	
<div *ngIf="sellerList.length == 0">
	<ion-row *ngFor="let i of Arr(skeletoncount).fill(1)">
		<ion-col>
			<ion-card>
				<ion-skeleton-text animated></ion-skeleton-text>
				<ion-card-header>
				  <ion-card-subtitle><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-subtitle>
				  <ion-card-title><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-title>
				  
				</ion-card-header>
				<italic style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
				  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
				</italic>
				
				<ion-card-header>
				  <ion-card-subtitle><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-subtitle>
				  <ion-card-subtitle><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-subtitle>
				</ion-card-header>
			</ion-card>
		</ion-col>
	</ion-row>
</div>
<ng-container *ngIf="sellerList.length > 0">
	<ion-item *ngFor="let p of sellerList; let i = index;" [routerLink]="['/sellerproducts/'+p.createdby]">
		 <ion-thumbnail>
				<img src="{{p.imagepath}}" onerror="this.onerror=null;this.src='https://americana-group.com/app/uploads/2016/11/345634573.jpg';">
		  </ion-thumbnail>
		<ion-card-header>
		  <ion-card-title class="titleThin">{{p.shopname}}</ion-card-title>
		  <ion-card-subtitle class="subtitleThin"><ion-icon name="ribbon-outline"></ion-icon> {{p.firstname}} {{p.lastname}}</ion-card-subtitle>
		  <ion-card-subtitle class="subtitleThin">{{p.distance}} km | <ion-icon name="stopwatch-outline"></ion-icon> ETA - {{40 + p.estimatedtimearr}} {{p.estimatedtimearr > 60 ? 'hrs' : 'mins'}}</ion-card-subtitle>
		  <ion-card-subtitle>
		  <ionic5-star-rating #rating
				activeIcon = "star"
				defaultIcon = "star-outline"
				activeColor = "rgb(255 72 72)" 
				defaultColor = "rgb(255 72 72)"
				readonly="true"
				rating="{{p.rating ? p.rating : 0}}"
				fontSize = "15px"
				(ratingChanged)="logRatingChange($event)">
			</ionic5-star-rating> {{p.rating ? p.rating : 'No Reviews yet'}}</ion-card-subtitle>
		</ion-card-header>
	</ion-item>
</ng-container>
</div>
<div [@visibilityChanged]="productvisibility" style="display: none;">
	  <ng-container *ngIf="productList.length == 0">
		<p class="no-items">No products available</p>
		</ng-container>
		
		<ng-container *ngIf="productList.length > 0">
		<ion-row>
			<ion-col>
				<ion-card *ngFor="let p of productList; let i = index;" (click)="nagivateProdcut('A',p.productcode)">
					<img alt="M" class="center" src="{{productList[i].imagepath}}" onerror="this.onerror=null;this.src='https://www.nicepng.com/png/detail/128-1282756_svg-free-download-marlin-clipart-deep-sea-fishing.png';">
					<ion-card-header>
					  <ion-card-subtitle><b>{{productList[i].title}}</b></ion-card-subtitle>
					  <ion-card-title>Price starts from  &#x20b9; {{productList[i].price}}</ion-card-title>
					</ion-card-header>
					<ion-card-content style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
					  {{productList[i].details}}
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
		</ng-container>
</div>
	
</ng-container>
<ng-container *ngIf="authService.getUserType() == 'S'">
	<ng-container *ngIf="productList.length == 0">
		<p class="no-items">No products available</p>
	</ng-container>
	<ng-container *ngIf="productList.length > 0">
	<ion-row>
		<ion-col>
			<ion-card *ngFor="let p of productList; let i = index;" (click)="routeProductDetail(p.index)">
				<img alt="M" class="center" src="{{productList[i].imagepath}}" onerror="this.onerror=null;this.src='https://www.nicepng.com/png/detail/128-1282756_svg-free-download-marlin-clipart-deep-sea-fishing.png';">
				<ion-card-header>
				  <ion-card-subtitle>{{productList[i].title}}</ion-card-subtitle>
				  <ion-card-title>&#x20b9; {{productList[i].price}}</ion-card-title>
				</ion-card-header>
				<ion-card-content style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
				  {{productList[i].details}}
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	</ng-container>
</ng-container>
<ng-container *ngIf="authService.getUserType() == 'D'">
	<ng-container *ngIf="productList.length == 0">
		<p class="no-items">No Assignments available</p>
	</ng-container>
	<ng-container *ngIf="productList.length > 0">
	<ion-item *ngFor="let p of productList;" [routerLink]="['/orderdetails/'+p.index]">
	  <ion-card-header>
		  <ion-card-title>Order reference - {{p.orderref}}</ion-card-title>
		  <ion-card-subtitle>{{p.modifieddate |  date:'MM/dd/yyyy h:mm:ss a'}}</ion-card-subtitle>
		  <ion-card-subtitle>&#x20b9;{{p.totalamount}}</ion-card-subtitle>
		  <ion-card-content style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
			  Pickup available within {{p.distance}} km
		  </ion-card-content>
	  </ion-card-header>
	</ion-item>
	</ng-container>
</ng-container>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="(!authService.getIsUserLoggedIn() && cartList.length > 0) || (cartList.length > 0 && authService.getUserType() == 'C')">
	<ion-fab-button color="danger" [routerLink]="['/mycart']">
	  <ion-icon name="cart"></ion-icon>
	</ion-fab-button>
</ion-fab>
</ion-content>
