<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
	Home
	<p class="subtitle" [routerLink]="['/locationmap']">{{current_location}}</p>
	</ion-title>
	<ion-buttons slot="secondary" style="font-size: 25px;margin: 10px;" [routerLink]="['/notification']">
        <ion-icon name="notifications-circle-outline"></ion-icon>
    </ion-buttons>
	<ion-buttons *ngIf="isUserLoggedIn && authService.getUserType() == 'CU'" slot="primary" style="font-size: 25px;margin: 10px;" [routerLink]="['/mycart']">
        <ion-icon name="cart"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="spin" *ngIf="spinnerShow">
		<ion-spinner name="lines"></ion-spinner>
	</div>
	
<ng-container *ngIf="authService.getUserType() == 'C'">
	<ion-searchbar animated showCancelButton="always" debounce="500" (ionCancel)="onCancel($event)" cancelButtonText="Custom Cancel"
		(ionInput)="filterProductList($event)"  [value]="searchVal" autofocus="true"></ion-searchbar>
<ng-container [@visibilityChanged]="visibility" style="opacity: 1">
	<ion-row class="second-menu" >
		<ng-container *ngFor="let p of fishcategortList;">
			<ion-col [routerLink]="['/stock/'+p.code]">
			<img style="margin: auto;width: 40%;" src="{{p.imagepath}}"><br>
			  {{p.name}}
			</ion-col>
		</ng-container>
	</ion-row>
	<ion-item>
		<ion-button fill="outline" slot="end" [routerLink]="['/stock/0']">View All</ion-button>
	  </ion-item>
	  <ion-slides #mySlider (ionSlideWillChange)="onSlideChangeStart($event)" (ionSlideDidChange)="onSlideChanged($event)" (ionSlidesDidLoad)="slidesDidLoad(mySlider)" pager="false">
		<ion-slide *ngFor="let p of discountList;" style="width:50%;height:300px;" (click)="nagivateProdcut('D',p.productcode)">
			<img src="{{p.imagepath}}" onerror="this.onerror=null;this.src='https://www.nicepng.com/png/detail/128-1282756_svg-free-download-marlin-clipart-deep-sea-fishing.png';">
			<p class="slide-text"><b>{{p.title}}</b><br>Minimum Price &#x20b9;{{p.price}} offer available </p>
		</ion-slide>
	  </ion-slides>
</ng-container>	  
	  <ng-container *ngIf="productList.length == 0">
		<p class="no-items">No products available</p>
		</ng-container>
		<ng-container *ngIf="productList.length > 0">
		<ion-row>
			<ion-col>
				<ion-card *ngFor="let p of productList; let i = index;" (click)="nagivateProdcut('A',p.productcode)">
					<img alt="M" class="center" src="{{productList[i].imagepath}}" onerror="this.onerror=null;this.src='https://www.nicepng.com/png/detail/128-1282756_svg-free-download-marlin-clipart-deep-sea-fishing.png';">
					<ion-card-header>
					  <ion-card-subtitle>{{productList[i].title}}</ion-card-subtitle>
					  <ion-card-title>Price starts from  &#x20b9; {{productList[i].price}}</ion-card-title>
					</ion-card-header>
					<ion-card-content style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
					  {{productList[i].details}}
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
		</ng-container>
	  <ion-card>
	  <ion-item>
		<ion-icon name="information" slot="start"></ion-icon>
		<ion-label>Disclaimer</ion-label>
		<ion-button fill="outline" slot="end" [routerLink]="['/help']">View</ion-button>
	  </ion-item>

	  <ion-card-content>
		All delieveries are exclusive delievery charges. Click view to contact dealer for online order.
	  </ion-card-content>
	</ion-card>
</ng-container>
<ng-container *ngIf="authService.getUserType() == 'S'">
<ion-searchbar #search animated showCancelButton="always" debounce="500" (ionCancel)="onCancel($event)" cancelButtonText="Custom Cancel"
    (ionInput)="filterProductList($event)"  [value]="searchVal" autofocus="true"></ion-searchbar>
	<ng-container *ngIf="productList.length == 0">
		<p class="no-items">No products available</p>
	</ng-container>
	<ng-container *ngIf="productList.length > 0">
	<ion-row>
		<ion-col>
			<ion-card *ngFor="let p of productList; let i = index;" (click)="routeProductDetail(p.index)">
				<img alt="M" class="center" src="{{productList[i].imagepath}}" onerror="this.onerror=null;this.src='https://www.nicepng.com/png/detail/128-1282756_svg-free-download-marlin-clipart-deep-sea-fishing.png';">
				<ion-card-header>
				  <ion-card-subtitle>{{productList[i].title}}</ion-card-subtitle>
				  <ion-card-title>&#x20b9; {{productList[i].price}}</ion-card-title>
				</ion-card-header>
				<ion-card-content style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
				  {{productList[i].details}}
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	</ng-container>
</ng-container>
</ion-content>
