<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
	<ion-buttons slot="secondary" style="font-size: 25px;margin: 10px;" [routerLink]="['/notification']">
        <ion-icon name="notifications-circle-outline"></ion-icon>
    </ion-buttons>
	<ion-buttons *ngIf="isUserLoggedIn && !isAdmin" slot="primary" style="font-size: 25px;margin: 10px;" [routerLink]="['/mycart']">
        <ion-icon name="cart"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="spin" *ngIf="spinnerShow">
		<ion-spinner name="lines"></ion-spinner>
	</div>
<ion-searchbar animated showCancelButton="focus" cancelButtonText="Custom Cancel"
    (ionFocus)="filterList($event)"></ion-searchbar>

	<ion-row class="second-menu">
		<ion-col [routerLink]="['/stock/SF']">
		<img style="margin: auto;width: 40%;" src="assets/icon/fish_icons/sea-food.png"><br>
		  Sea Fish
		</ion-col>
		<ion-col [routerLink]="['/stock/CF']">
		<img style="margin: auto;width: 40%;" src="assets/icon/fish_icons/fresh-water.png"><br>
		  Fresh Water Fish
		</ion-col>
		<ion-col [routerLink]="['/stock/PR']">
		<img style="margin: auto;width: 40%;" src="assets/icon/fish_icons/prawn.png"><br>
		  Prawn
		</ion-col>
		<ion-col [routerLink]="['/stock/CR']">
		<img style="margin: auto;width: 40%;" src="assets/icon/fish_icons/crab.png"><br>
		  Crab
		</ion-col>
	</ion-row>
	<ion-item>
		<ion-button fill="outline" slot="end" [routerLink]="['/stock/0']">View All</ion-button>
	  </ion-item>
	<ion-slides #mySlider (ionSlideWillChange)="onSlideChangeStart($event)" (ionSlideDidChange)="onSlideChanged($event)" (ionSlidesDidLoad)="slidesDidLoad(mySlider)" pager="false">
		<ion-slide *ngFor="let p of discountList;" style="width:50%;height:300px;" (click)="nagivateProdcut(p.$key,p.productcode)">
			<img src="{{p.imagepath}}" onerror="this.onerror=null;this.src='https://www.nicepng.com/png/detail/128-1282756_svg-free-download-marlin-clipart-deep-sea-fishing.png';">
			<p class="slide-text"><b>{{p.title}}</b><br>Discount upto {{p.discountprice}}%</p>
		</ion-slide>
	  </ion-slides>
	  <ion-card>
	  <ion-item>
		<ion-icon name="information" slot="start"></ion-icon>
		<ion-label>Disclaimer</ion-label>
		<ion-button fill="outline" slot="end" [routerLink]="['/help']">View</ion-button>
	  </ion-item>

	  <ion-card-content>
		All delieveries are inclusive delievery charges. Click view to contact dealer for online order.
	  </ion-card-content>
	</ion-card>
</ion-content>
