.vertical-center{
  text-align: center;
}

.center {
   font-size : 20px;
   font-family : Roboto Regular;
  }
.centerLogo {
   font-size : 25px;
   font-family : Roboto Bold;
  }

.validator-error {
	color: red; 
	padding-top: 0.2rem; 
	padding-left: 20px;
}