<ion-header translucent>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button defaultHref="/"></ion-back-button>
	</ion-buttons>
    <ion-title>Register with us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="spin" *ngIf="spinnerShow">
	<ion-spinner name="lines"></ion-spinner>
</div>
<ion-row>
      <ion-col>
         <div class="vertical-center">
            <div class="center">
               <img src="assets/logo/logo.png"/>
            </div>
         </div>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
         <ion-item lines="none" class="font-size-25px text-align-center">
            <ion-label>Delight with your <b>Presence</b></ion-label>
         </ion-item>
      </ion-col>
   </ion-row>

   <form [formGroup]="formData" (ngSubmit)="register(form)" novalidate id="registerFrom">
   <ion-row>
	   <ion-col>
		<ion-item>
		  <ion-label position="floating">Email</ion-label>
		  <ion-input formControlName="email" type="email" required></ion-input>
		</ion-item>
		<div *ngIf="isSubmitted && errorControl.email.errors?.required"
			class="validator-error">
		  Enter your Email.
		</div>
		<div *ngIf="isSubmitted && errorControl.email.errors?.pattern"
			class="validator-error">
		  Please enter a valid Email.
		</div>
		</ion-col>
	</ion-row>
	<ion-row>
	   <ion-col>
			<ion-item>
			  <ion-label position="floating">Password</ion-label>
			  <ion-input formControlName="password" type="password" required></ion-input>
			</ion-item>
			<div *ngIf="isSubmitted && errorControl.password.errors?.required"
				class="validator-error">
			  Enter your Password for security.
			</div>
			<div *ngIf="isSubmitted && errorControl.password.errors?.minlength"
				class="validator-error">
			  Password length should be minimun 8 Character.
			</div>
		</ion-col>
	</ion-row>
	<ion-radio-group *ngIf="!authService.getIsUserLoggedIn()" formControlName="usertype" [(ngModel)]="usertype">
		<ion-row>
			<ion-col>
				<ion-item>
				  <ion-label>Customer</ion-label>
				  <ion-radio slot="start" value="C" (ionSelect)="usertTypeSelect($event)"></ion-radio>
				</ion-item>
			</ion-col>
			<ion-col *ngIf="enableseller == 'Y'">
				<ion-item>
				  <ion-label>Seller</ion-label>
				  <ion-radio slot="start" value="S" (ionSelect)="usertTypeSelect($event)"></ion-radio>
				</ion-item>
			</ion-col>
			<div *ngIf="isSubmitted && errorControl.usertype.errors?.required"
				class="validator-error">
			  <ion-icon name="alert-circle-outline"></ion-icon>  Client type is required.
			</div>
		</ion-row>
	</ion-radio-group>
	<ion-radio-group *ngIf="authService.getIsUserLoggedIn() && authService.getUserType() == 'SA'" formControlName="usertype" [(ngModel)]="usertype">
		<ion-row>
			<ion-col>
			<ion-item>
				<ion-label>User Role</ion-label>
				<ion-select formControlName="usertype" [(ngModel)]="usertype" interface="action-sheet" required>
					<ion-select-option value="A">Administrator</ion-select-option>
					<ion-select-option value="D">Delievery</ion-select-option>
				</ion-select>
			  </ion-item>
			</ion-col>
			<div *ngIf="isSubmitted && errorControl.usertype.errors?.required"
				class="validator-error">
			  <ion-icon name="alert-circle-outline"></ion-icon>  Client type is required.
			</div>
		</ion-row>
	</ion-radio-group>
	<ion-row *ngIf="usertype == 'S'">
		<ion-col>
			<ion-item>
			  <ion-label position="floating">Shop Name<span>*</span></ion-label>
			  <ion-input type="text" formControlName="shopname" [(ngModel)]="shopname" required></ion-input>
			</ion-item>
			<div *ngIf="isSubmitted && errorControl.shopname.errors?.required"
					class="validator-error">
				  <ion-icon name="alert-circle-outline"></ion-icon>  Shop name is required.
				</div>
		</ion-col>
	</ion-row>
   <ion-row>
			<ion-col>
				<ion-item>
				  <ion-label position="floating">First Name<span>*</span></ion-label>
				  <ion-input type="text" formControlName="firstname" [(ngModel)]="firstname" required></ion-input>
				</ion-item>
				<div *ngIf="isSubmitted && errorControl.firstname.errors?.required"
					class="validator-error">
				  <ion-icon name="alert-circle-outline"></ion-icon>  Firstname is required.
				</div>
			</ion-col>
			<ion-col>
				<ion-item>
				  <ion-label position="floating">Last Name<span>*</span></ion-label>
				  <ion-input type="text" formControlName="lastname" [(ngModel)]="lastname" required></ion-input>
				</ion-item>
				<div *ngIf="isSubmitted && errorControl.lastname.errors?.required"
					class="validator-error">
				  <ion-icon name="alert-circle-outline"></ion-icon>  Lastname is required.
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
				  <ion-label position="floating">Mobile Number<span>*</span></ion-label>
				  <ion-input type="text" formControlName="mobilenumber" [(ngModel)]="mobilenumber" required></ion-input>
				</ion-item>
				<div *ngIf="isSubmitted && errorControl.mobilenumber.errors?.required"
				class="validator-error">
				  <ion-icon name="alert-circle-outline"></ion-icon>  Mobilenumber is required.
				</div>
				<div *ngIf="isSubmitted && errorControl.mobilenumber.errors?.maxlength"
				class="validator-error">
				  <ion-icon name="alert-circle-outline"></ion-icon>  Mobilenumber is invalid.
				</div>
				<div *ngIf="isSubmitted && errorControl.mobilenumber.errors?.minlength"
				class="validator-error">
				  <ion-icon name="alert-circle-outline"></ion-icon>  Mobilenumber is invalid.
				</div>
				<div *ngIf="isSubmitted && errorControl.mobilenumber.errors?.pattern"
				class="validator-error">
				  <ion-icon name="alert-circle-outline"></ion-icon>  Mobilenumber is allowed only numbers.
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
				  <ion-label position="floating">Street 1<span>*</span></ion-label>
				  <ion-input type="text" formControlName="street1" [(ngModel)]="street1" required></ion-input>
				</ion-item>
				<div *ngIf="isSubmitted && errorControl.street1.errors?.required"
				class="validator-error">
				  <ion-icon name="alert-circle-outline"></ion-icon>  Address Line 1 is required.
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
				  <ion-label position="floating">Street 2</ion-label>
				  <ion-input type="text" formControlName="street2" [(ngModel)]="street2"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
				  <ion-label position="floating">State<span>*</span></ion-label>
					<ion-select formControlName="state" [(ngModel)]="state" interface="action-sheet" required (ionChange)="selectState($event)">
						<ion-select-option *ngFor="let entry of stateList" value="{{entry.state_code}}">{{entry.state_name}}</ion-select-option>
					</ion-select>
				</ion-item>
				<div *ngIf="isSubmitted && errorControl.state.errors?.required"
				class="validator-error">
				  <ion-icon name="alert-circle-outline"></ion-icon>  State is required.
				</div>
			</ion-col>
			<ion-col>
				<ion-item>
				  <ion-label position="floating">District<span>*</span></ion-label>
				  <ion-select formControlName="district" [(ngModel)]="district" interface="action-sheet" required>
						<ion-select-option *ngFor="let entry of locationList" value="{{entry.location_code}}">{{entry.location_name}}</ion-select-option>
					</ion-select>
				</ion-item>
				<div *ngIf="isSubmitted && errorControl.district.errors?.required"
				class="validator-error">
				  <ion-icon name="alert-circle-outline"></ion-icon>  District is required.
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
				  <ion-label position="floating">Pincode<span>*</span></ion-label>
				  <ion-input type="number" formControlName="pincode" [(ngModel)]="pincode" required></ion-input>
				</ion-item>
				<div *ngIf="isSubmitted && errorControl.pincode.errors?.required"
				class="validator-error">
				  <ion-icon name="alert-circle-outline"></ion-icon>  Pincode is required.
				</div>
				<div *ngIf="isSubmitted && errorControl.pincode.errors?.pattern"
				class="validator-error">
				  <ion-icon name="alert-circle-outline"></ion-icon>  Pincode is allowed only numbers.
				</div>
			</ion-col>
		</ion-row>
		<ion-button type="submit" color="danger" expand="block" style="margin-right:10px;margin-left:10px;margin-bottom:10px;">
			Get me Delighted
		</ion-button>		  
   </form>
</ion-content>
