<ion-header translucent>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button defaultHref="/"></ion-back-button>
	</ion-buttons>
    <ion-title>Register with us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
      <ion-col>
         <div class="vertical-center">
            <div class="center">
               <img src="assets//logo//logo.png"/>
            </div>
         </div>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
         <ion-item lines="none" class="font-size-25px text-align-center">
            <ion-label>Delight with your <b>Presence</b></ion-label>
         </ion-item>
      </ion-col>
   </ion-row>

   <form [formGroup]="formData" (ngSubmit)="register(form)" novalidate id="registerFrom">
	<ion-item>
	  <ion-label position="floating">Email</ion-label>
	  <ion-input formControlName="email" type="email" required></ion-input>
	</ion-item>
	
	<ion-item>
	  <ion-label position="floating">Password</ion-label>
	  <ion-input formControlName="password" type="password" required></ion-input>
	</ion-item>
   <ion-row>
	  <ion-col style="text-align:center;">
         <ion-button type="submit">Get me Delighted</ion-button>
      </ion-col>
   </ion-row>
   <div *ngIf="isSubmitted && errorControl.email.errors?.required"
		class="validator-error">
	  Enter your Email.
	</div>
	<div *ngIf="isSubmitted && errorControl.email.errors?.pattern"
		class="validator-error">
	  Please enter a valid Email.
	</div>
	<div *ngIf="isSubmitted && errorControl.password.errors?.required"
		class="validator-error">
	  Enter your Password for security.
	</div>
	<div *ngIf="isSubmitted && errorControl.password.errors?.minlength"
		class="validator-error">
	  Password length should be minimun 8 Character.
	</div>
	
   </form>
</ion-content>
