<ion-header translucent>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button defaultHref="/"></ion-back-button>
	</ion-buttons>
    <ion-title>Register with us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
      <ion-col>
         <div class="vertical-center">
            <div class="center">
               <img src="assets//logo//logo.png"/>
            </div>
         </div>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
         <ion-item lines="none" class="font-size-25px text-align-center">
            <ion-label>Delight with your <b>Login</b></ion-label>
         </ion-item>
      </ion-col>
   </ion-row>
   <form #form="ngForm" (ngSubmit)="login(form)">
	<ion-item>
	  <ion-label position="floating">Email</ion-label>
	  <ion-input></ion-input>
	</ion-item>
	<ion-item>
	  <ion-label position="floating">Password</ion-label>
	  <ion-input></ion-input>
	</ion-item>
	<ion-item>
	  <ion-label position="floating">Mobile</ion-label>
	  <ion-input></ion-input>
	</ion-item>
	<ion-item>
	  <ion-label position="floating">Customer Name</ion-label>
	  <ion-input></ion-input>
	</ion-item>
	
   <ion-row>
	  <ion-col style="text-align:center;">
         <ion-button>Get me Delighted</ion-button>
      </ion-col>
   </ion-row>
   </form>
</ion-content>
